{
  "openapi": "3.0.3",
  "info": {
    "title": "FlowLessAI Rest API",
    "description": "API para autenticação por device code e auditoria de projetos via IA.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.flowlessai.one"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Login por código de 6 dígitos e gestão de token"
    },
    {
      "name": "Auditor",
      "description": "Criação e controlo de tasks de auditoria"
    },
    {
      "name": "Internal",
      "description": "Endpoints internos entre serviços"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Solicita código de login do dispositivo",
        "operationId": "createDeviceLogin",
        "responses": {
          "201": {
            "description": "Código criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceLoginCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login/{authorizationId}": {
      "get": {
        "tags": ["Auth"],
        "summary": "Faz polling do authorizationId para obter o access token",
        "operationId": "pollDeviceLogin",
        "parameters": [
          {
            "name": "authorizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Autorizado e token emitido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceLoginApprovedResponse"
                }
              }
            }
          },
          "202": {
            "description": "Ainda pendente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceLoginPendingResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "410": {
            "description": "Authorization expirado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceLoginExpiredResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/device/confirm": {
      "post": {
        "tags": ["Internal", "Auth"],
        "summary": "Confirma código do dispositivo e associa ao utilizador",
        "description": "Endpoint interno chamado após login no site.",
        "operationId": "confirmDeviceCode",
        "security": [
          {
            "AgentAuthToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceConfirmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Código confirmado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceConfirmResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/auth/revoke": {
      "post": {
        "tags": ["Auth"],
        "summary": "Revoga o access token atual",
        "operationId": "revokeAccessToken",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token revogado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auditor": {
      "post": {
        "tags": ["Auditor"],
        "summary": "Cria tarefa de auditoria via upload de zip",
        "operationId": "createAuditTask",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AuditorRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task criada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTaskResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/status/{taskId}": {
      "get": {
        "tags": ["Auditor"],
        "summary": "Obtém status atual, artefactos, diffs, análise global e URL de download quando concluído",
        "operationId": "getTaskStatus",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status da tarefa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/download/{taskId}": {
      "get": {
        "tags": ["Auditor"],
        "summary": "Faz download do ZIP final da task concluída",
        "operationId": "downloadTaskZip",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo ZIP final",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/pause/{taskId}": {
      "post": {
        "tags": ["Auditor"],
        "summary": "Pausa uma task",
        "operationId": "pauseTask",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pedido de pausa aceite",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskControlResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/resume/{taskId}": {
      "post": {
        "tags": ["Auditor"],
        "summary": "Retoma uma task pausada",
        "operationId": "resumeTask",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task retomada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskControlResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "AgentAuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-agent-auth-token"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Pedido inválido",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Não autorizado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Não encontrado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": ["error"]
      },
      "OkResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": ["ok"]
      },
      "DeviceLoginCreateResponse": {
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "pattern": "^[0-9]{6}$"
          },
          "expiresIn": {
            "type": "integer",
            "example": 600
          },
          "verificationUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": ["authorizationId", "code", "expiresIn", "verificationUrl"]
      },
      "DeviceLoginPendingResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["pending"]
          }
        },
        "required": ["status"]
      },
      "DeviceLoginExpiredResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["expired"]
          }
        },
        "required": ["status"]
      },
      "DeviceLoginApprovedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["approved"]
          },
          "accessToken": {
            "type": "string"
          },
          "tokenType": {
            "type": "string",
            "example": "Bearer"
          },
          "expiresIn": {
            "type": "integer"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": ["status", "accessToken", "tokenType", "expiresIn", "userId"]
      },
      "DeviceConfirmRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "pattern": "^[0-9]{6}$"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": ["code", "userId"]
      },
      "DeviceConfirmResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "authorizationId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": ["ok", "authorizationId", "userId"]
      },
      "AuditorRequest": {
        "type": "object",
        "properties": {
          "zip": {
            "type": "string",
            "format": "binary"
          },
          "comment": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["zip"]
      },
      "CreateTaskResponse": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": ["taskId"]
      },
      "TaskControlResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["ok", "message"]
      },
      "TaskStatusResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["INDEXING", "GENERATING_ARTIFACTS", "SYSTEM_CHECK", "APPLYING_DIFFS", "DONE", "FAILED"]
          },
          "paused": {
            "type": "boolean"
          },
          "artifacts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "diffs": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "analysis": {
            "nullable": true,
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "string"
              }
            ]
          },
          "downloadUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "updatedAt": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": ["id", "status", "paused", "artifacts", "diffs", "analysis", "downloadUrl", "createdAt", "updatedAt"]
      }
    }
  }
}
